html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.active {
  color: #E6AB09;
}

.pb-54 {
  padding-bottom: 54px;
}

.MuiFilledInput-input {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #7B8082;
}
.MuiFilledInput-root .MuiSelect-icon {
  color: #7B8082;
}
.MuiFilledInput-root::before {
  content: none;
}
.MuiFilledInput-root {
  border-radius: 4px;
}
.MuiSelect-select.MuiSelect-filled {
  display: flex;
  align-items: center;
}
.MuiSelect-select.MuiSelect-filled:before {
  content: url('/language.svg');
  padding-right: 8px;
  padding-top: 4px;
}